---
import BaseLayout from "../layouts/BaseLayout.astro";
import UpcomingCard from "../components/UpcomingCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection('updates')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout>
    <div class="pb-12 mt-5">
      <div class="text-xl py-1">Welcome to</div>
      <div class="text-5xl font-bold">PoliSoNI🤖</div>
      <div class="text-3xl py-3 font-bold">Exploring the socio-political network in Indonesia</div>
      <div class="py-2">
        <text class="text-lg">On February 14, 2024, Indonesia will embark on a monumental democratic exercise, welcoming 205 million eligible voters to shape its future governance. With approximately 300,000 candidates competing for 20,614 political seats, the sheer scale of Indonesia’s general election calls for both local and global attention.
          <br></br>
          Our project, <strong>Political Social Networks in Indonesia</strong>, merges the intricate knowledge of Indonesia’s political economy with cutting-edge techniques in web scraping, social network analysis, and machine learning. This collaboration aims to democratise access to election data, opening new avenues for research into Indonesia’s political dynamics and democratic processes.
          <br></br>
          As we navigate through the complexities of collecting and analysing candidate profiles, we confront the challenges of data preservation in an ever-evolving digital landscape. Our initiative seeks to build a comprehensive data repository and pioneer a methodology that ensures the longevity and accessibility of election data for future explorations.
          <br></br>
          Join us as we delve into the heart of Indonesia’s political fabric, unravelling the threads that weave together its political, economic, and social narratives. Our journey is not just about capturing data; it’s about fostering a deeper understanding of democracy in action and contributing to a more informed and engaged research community.
          <br></br>
        </text>

      <!-- do not use this for now
      </div>
      <div class="mt-8">
        <a class="btn" href="https://twitter.com/manuelernestog" target="_blank">Latest Update</a>
        <a href="https://github.com/manuelernestog/astro-modern-personal-website" target="_blank" class="btn btn-outline ml-5">About</a>
      </div>
      -->
    </div>

    <div class="upcoming">
      <div class="text-3xl w-full font-bold mb-5 mt-10">Upcoming</div>
      {
        last_posts.map((post, index) => (
          <>
          <UpcomingCard
            title={post.data.title}
            img={post.data.heroImage}
            announcement={post.data.announcement}
            url={post.data.relatedPostUrl}
            target="_self"
            badge={post.data.badge}
          />
          {index !== last_posts.length - 1 && <div class="my-4 border-b"></div>}
          </>
        ))
      }
    </div>
</BaseLayout>
